{% extends "registration/base.html" %}

{% load i18n jazzmin %}
{% get_jazzmin_settings request as jazzmin_settings %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <p class="login-box-msg">{% trans "Password Reset" %}</p>
    
    {% if user.is_authenticated %}
        <div class="callout callout-warning">
            <p>{% include "account/snippets/already_logged_in.html" %}</p>
        </div>
    {% endif %}

    <div class="callout callout-info">
        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    </div>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        
        {% if form.errors %}
            <div class="callout callout-danger">
                {% for field in form %}
                    {% if field.errors %}
                        <p>{{ field.label }}: {{ field.errors|join:', ' }}</p>
                    {% endif %}
                {% endfor %}
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}

        <div class="input-group mb-3">
            <input type="email" name="email" class="form-control" placeholder="{% trans 'E-mail address' %}" required autofocus>
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn {{ jazzmin_ui.button_classes.primary }} btn-block">
                    {% trans "Reset My Password" %}
                </button>
            </div>
        </div>
    </form>

    <div class="text-center mt-3">
        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
{% endblock %}

